html, body{
  	font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background: #FFf;
	
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
a:hover, a:focus {
color:none;
text-decoration: none;
}
/*-----start-header----*/
.top-header{
background:#2A2E33;
}
.logo{
float:left;
padding-top:1.5em;
}
.logo h3{
color:#fff;
margin:1em 0;
font-weight:bold;
}
.logo h3 span{
color:#FFD700;
position:relative;
}
.pref{color:white}
.logo i{
color:#AAABAD;
font-size:10px;
position:absolute;
top: 4.5%;
left: 26.5%;
font-weight: 200;
}
.top-menu{
float:right;
}
.top-menu ul li {
display:inline-block;
}
.top-menu ul li a{
color:#fff;
font-size:12px;
padding:2.5em 1.5em;
display:block;
border-top:2px solid #2A2E33;
font-weight: 600;
}
.top-menu ul li.active a{
background:#1E2329;
color:#fff;
border-top:2px solid #FFD700;
font-weight: 600;
}
.top-menu ul li a:hover{
background:#1E2329;
color:#fff;
border-top:2px solid #FFD700;
}
.banner{
background:#00CCFF;
min-height:300px;
padding:2em 0 4em 0;
}
.banner-info h3{
color:#fff;
font-weight: 200;
margin-bottom:12px;
}
.banner-info h3 label{
font-weight:600;
}
.banner-info h1{
color:#fff;
font-weight:bold;
border-top:1px dashed rgba(255, 255, 255, 0.59);
width:30%;
margin:0 auto;
padding:16px 0 23px 0;
font-size:3em;
}
.banner-info span{
display:block;
border-top:1px dashed rgba(255, 255, 255, 0.59);
width:20%;
margin:0 auto;
}
.banner-info ul li{
display:inline-block;
position:relative;
}
.banner-info ul li a{
font-size:20px;
display:block;
color:#fff;
font-weight:100;
margin:1em;
}
i.line{
display:block;
background: rgba(255, 255, 255, 0.7);
min-height: 1px;
width: 13%;
position: absolute;
left: 96%;
bottom: 48%;
}
i.line2{
display:block;
background: rgba(255, 255, 255, 0.7);
min-height: 1px;
width: 8%;
position: absolute;
left: 96%;
bottom: 48%;
}
/* start booking_room */
.online_reservation{
	z-index: 999;
}
.b_room{
	display: inline-flex;
	box-shadow: 0px 0px 4px rgb(97, 97, 97);
	-webkit-box-shadow: 0px 0px 4px rgb(97, 97, 97);
	-moz-box-shadow: 0px 0px 4px rgb(97, 97, 97);
	-o-box-shadow: 0px 0px 4px rgb(97, 97, 97);
	width: 70%;
	position:absolute;
}
.booking_room {
width: 100%;
position:absolute;
top:-3em;
left:18%;
z-index:1;
}


.tab_connexion1 {
width: 100%;
position:absolute;
top:20em;
left:18%;
z-index:1;
}
.tab_connexion2 {
font-family: 'Open Sans', sans-serif;
	padding:16px 10px;
	margin-left:60px;
	float: left;
	width:50%;
	height:50%;
background:#2A2E33;
	box-shadow: 2px 26px 37px -12px;
}
.tab_connexion2 input  {
margin-left:10%;

}

.booking_room h4{
	font-size: 1.5em;
	color: #202020;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}

.booking_room p{
	font-size: 0.8725em;
	color: #6b6b6b;
	line-height: 1.8em;
}
.reservation{
	font-family: 'Open Sans', sans-serif;
	padding:16px 10px;
	float: left;
	width:100%;
	background: #2A2E33;
	box-shadow: 2px 26px 37px -12px;
}
.reservation ul li{
	float: left;
	list-style:none;
}
.reservation ul li.left{
	margin-left: 15px;
}
.reservation ul li.span1_of_1{
width: 24.33333%;
margin-left: 1em;
}
.reservation ul li.span1_of_2{
	width: 9.33333%;
}
.reservation ul li.span1_of_3{
	width: 18.33333%;
	margin-left: 20px;
}
.reservation h5{
	font-size: 15px;
	color: #FFD700;
	text-transform: capitalize;
	margin-bottom: 6px;
}

label {
  font-size: 15px;
	color: #FFD700;
	text-transform: capitalize;
	margin-bottom: 6px;
	 display:block;
  float:left;
  width:150px;
  text-align:right;
  padding:0 5px 0 0
	
}
select {
	width: 100%;
	color: #858585;
	font-size: 0.8725em;
	padding: 7px;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	border: 1px solid #DFDFDF;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
	
}
select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.book_date input[type="text"]{
	width: 100% !important;
	color: #858585;
	font-size: 0.8725em;
	padding: 8px 30px;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #DFDFDF;
	box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-webkit-appearance: none;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
}
.date{
	background:url(../images/icon.png) no-repeat 3% 50% #FFF;
}
.date_btn{
	margin:22px 0 0 0px;
}
.date_btn form input[type="submit"] {
	text-transform:capitalize;
	width: 90% !important;
	background: #FFD700;
	font-family: 'Open Sans', sans-serif;
	color: #2A2E33;
	padding: 8px;
	border: none;
	font-size: 14px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	outline: none;
	cursor: pointer;
	font-weight:bold;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
}

.button_class input[type="submit"] {
	text-transform:capitalize;
	
	width: 30% !important;
	background: #FFD700;
	font-family: 'Open Sans', sans-serif;
	color: #2A2E33;
	padding: 8px;
	border: none;
	font-size: 14px;
margin-left:190px;
margin-top:40px;
	
}
.date_btn form input[type="submit"]:hover{
	background: #00CCFF;
}
